model:
  dev

server:
  serverName: go-server-rest-api
  port: 8080
  host: 0.0.0.0
  version: v1.0.0

log:
  prefix: go-server-rest-api
  enableConsole: true
  enableFile: true
  level: error
  path: ./logs

database:
  host: localhost
  port: 3306
  user: root
  password: root
  dbname: dev
  ssl_mode: disable
  maxIdleConns: 10
  maxOpenConns: 10
  connMaxLifetime: 5
  logLevel: error
  trace: false

redis:
  host: localhost
  port: 6379
  password: ""
  db: 0
  maxIdleConns: 10
  maxActiveConns: 10

etcd:
  enable: true
  host: localhost
  port: 2379
  password: ""
  dialTimeOut: 50
  username: ""
  leaseTTL: 5

